{{ if .Site.Params.contact.enable }}
{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.contact.topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .Site.Params.contact.title }}
                    <h2>{{.}}</h2>
                    <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Params.contact.subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            <!--div class="col-12 col-md-4">
                <div class="address-block contact-meta-block">
                    <i class="tf-ion-android-pin"></i>
                    <h4>Nuestra ubicación</h4>
                    {{ with .Site.Params.contact.address }}<p>{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div-->
            <div class="col-12 col-md-4">
                <div class="phone-block contact-meta-block">
                    <i class="tf-ion-ios-telephone"></i>
                    <h4>Nuestros teléfonos</h4>
                    <p>
                         {{ with .Site.Params.contact.phone }}Oficina: <a href="tel:{{.}}">{{.}}</a> {{ end }}
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="phone-block contact-meta-block">
                    <i class="tf-ion-ios-email"></i>
                    <h4>Nuestros e-mails</h4>
                    <p>
                         {{ with .Site.Params.contact.mail }}Mail: <a href="mailto:{{.}}">{{.}}</a> {{ end }}
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="social-icons-block contact-meta-block">
                    <!--i class="tf-ion-ios-contact"></i-->
                    <i class="tf-ion-ios-world"></i>
                    <h4>Nuestras redes</h4>
                    <ul class="list-inline social-icon">
                        {{ with .Site.Params.contact.facebook }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-facebook"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.twitter }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-twitter"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.linkedin }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-linkedin"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.instagram }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-instagram"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.whatsapp }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-social-whatsapp"></i>
                            </a>
                        </li>
                        {{ end }}
                        {{ with .Site.Params.contact.telegram }}
                        <li class="list-inline-item">
                            <a href="{{.}}">
                                <i class="tf-ion-paper-airplane"></i>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="phone-block contact-meta-block">
                    <i class="tf-ion-ios-contact"></i>
                    <h4>Agéndenos</h4>
                    <p>
                        <img class="img-fluid" src="{{.Site.Params.contact.qrAgendenos | absURL }}" alt="agendenos">
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            {{ "<!-- Contact Form -->" | safeHTML }}
            <div class="contact-form col-12 col-md-6 ">
                <h4>Escríbanos</h4>

                <form id="contact-form" method="post" action="{{.Site.Params.contact.googleForms}}" role="form">
                    <div class="form-group">
                        <input type="text" placeholder="Nombre" class="form-control" name="{{.Site.Params.contact.nombreCampo}}" id="nombre">
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="Email" class="form-control" name="{{.Site.Params.contact.emailCampo}}" id="email">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Asunto" class="form-control" name="{{.Site.Params.contact.asuntoCampo}}" id="asunto">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="Mensaje" class="form-control" name="{{.Site.Params.contact.mensajeCampo}}" id="mensaje"></textarea>
                    </div>

                    <div id="mail-success" class="success">
                        Gracias. El mensaje está en camino :)
                    </div>

                    <div id="mail-fail" class="error">
                        Lo siento, no sabemos que ocurrió. Intente más tarde :(
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="enviar-contacto" class="btn btn-transparent" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{ end }}
